# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# vim
tags
.swp

#jrebel files - usually local dirs
rebel.xml

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

# building
target
build
null
tmp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

# ext designer output--trying to be specific with the directory
designer.html
designer.js
designer_includeOrder.txt
ext-all-debug.js

#Apple Stuff
.DS_Store
